{% extends 'base.html' %}

{% block content %}
<br> 
    <div class="text-center">

        <h1>Welcome to Twitter</h1>
        <br>
        <div class="text-center">
            <a href="create-tweet">
                <input  type="submit" value="Write Tweet">
            </a>
        </div>
        <br>


        {% for tweet in tweets %}
            
            <div class="custom-container" style="width: 50%;">

                {% include 'includes/tweet.html' with tweet=tweet %}
                
            </div>
        {% endfor %}

    </div>

{% endblock content %}



