{% extends 'base.html' %}

{% block content %}

    <div class="text-center">
        <h1>Welcome to main page!</h1>
    </div>

    <div class="text-center">
        <a href="create-message">
            <input  type="submit" value="Write Message">
        </a>
    </div>
    <br>

    
    {% for message in messages %}

        
        <div class="col-12 col-md-12 mx-auto border rounded py-2 mb-4 " style="width: 50%;">
            <strong style="margin-left: 20px;">
                {{ message.user }} 
            </strong><br>  
            <p style = "text-indent:20px;">    {{ message.content }}</p>   
            
            {% if message.user == user %}
                <a href="{% url 'delete_post' message.id %}" style="margin-left: 20px;">
                    (Delete)
                </a>    
            {% endif %}

        </div>
    {% endfor %}
 
{% endblock content %}

