{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    {% if searched %}    

        <br>
        <h1>You Searched For "{{ searched }}"</h1>
        <br>
</div>
        
        {% for tweet in tweets %}
            <div class="custom-container" style="width: 50%;">

                <strong style="margin-left: 20px;">
                    {{ tweet.user }} 
                </strong>

                <p style = "text-indent:20px;">{{ tweet.content }}</p>   

                {% if tweet.user == user %}
                <a href="{% url 'delete_post' tweet.id %}" style="margin-left: 20px;" onclick="return confirm('Are you sure you want to permanently remove this post?')">
                    (Delete)
                </a>    
                {% endif %}

            </div>

            

        {% endfor %} 

    {% else %}
    <br>
        <h1>You Forgot To Search For A tweet...</h1>
    {% endif %}
</div>
{% endblock content %}

