{% include 'base.html' %}

{% block content %}
    {% if content %}

        <div class="text-center">
            <h1>This is message N{{id}} : </h1>
        </div>
        
        <div class="col-12 col-md-10 mx-auto border rounded py-3 mb-4 " style="width: 50%;">
            
            <strong style="margin-left: 20px;">
                {{ user }}
            </strong><br>  
            <p style = "text-indent:20px;">{{ content }}</p>
            
        </div>

    {% endif %}
{% endblock content %}