{% extends 'base.html' %}

{% block content %}
    <br> 
    <div class="text-center">
        <h1>This is your messages {{ user }} :</h1>
    </div>
    <br>

    {% for message in messages %}

        <div class="col-12 col-md-12 mx-auto border rounded py-2 mb-4 " style="width: 50%;">
            <strong style="margin-left: 20px;">
                {{ message.user }} 
            </strong>  
            <p style = "text-indent:20px;">{{ message.content }}</p>     

            <a href="{% url 'delete_post' message.id %}" style="margin-left: 20px;">
                (Delete)
            </a>
        </div>
    {% endfor %}
 
{% endblock content %}

