{% extends 'base.html' %}


{% block content %}
<br> 
    <div class="text-center">
        <h1>{{ profile_user }}'s Profile</h1>
        <br> 

        {% if tweets.user.userprofile.bio %}   
            <p>Bio: {{ tweet.user.userprofile.bio }}</p>
        {% endif %}

        {% for tweet in tweets %}

            <div class="custom-container" style="width: 50%;">

                <a href="{% url 'user_profile' username=tweet.user %}" style="margin-left: 20px;">{{ tweet.user }}</a>

                <p style = "text-indent:20px;">{{ tweet.content }}</p>   

                <p style = "text-indent:20px;">
                    {% if tweet.image %}
                        <img src="{{ tweet.image.url }}" alt="Tweet Image">
                    {% endif %}
                </p>   

                {% if tweet.user == user %}
                    <a href="{% url 'delete_post' tweet.id %}" style="margin-left: 20px;">
                        (Delete)
                    </a>    
                {% endif %}

            </div>

        {% endfor %}

    </div>

{% endblock %}

